*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #C1B2A1;
  font-family: Calibri;
}

ul {
    list-style: none;
    text-align: center;
  
}

ul li{
  margin-bottom: 40px;
}




h1 {
  text-align: center;
  color: #3C2824;
}


header {
  position: relative;
}



.floating-man  {
  position: absolute;
  right: 70px;
  top: 0px;
}

.floating-man img {
  height: 670px;
}



button {
  position: relative;
  background-color: #3C2824;
  color: #C1B2A1;
  width: 620px;
  height: 75px;
  border: none;
  border-radius: 45px;
  font-size: 20px;
  margin-bottom: 40px;

  position: relative;
  isolation: isolate;
  overflow: hidden;
}

button:hover{
  background-color: #6c4a37;
  opacity: 90%;
}




@media screen and (max-width: 600px) {
button {
  background-color: #3C2824;
  color: #C1B2A1;
  width: 100%;
  height: 75px;
  border: none;
  border-radius: 45px;
  font-size: 20px;
  margin-bottom: 50px;
}


.floating-man  {
  position: absolute;
  right: 10px;
  top: 0px;
}

.floating-man img {
  height: 120px;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
}

}






li:last-child{
 margin-bottom: none;

}

.imageplaceholder{
  height: 230px;
  width: 230px;
  margin-left:auto;
  margin-right: auto;
}

.imageplaceholder img {
  height: 230px;
  width: auto;
  border-radius: 50%;
  margin-left:auto;
  margin-right: auto;
}




footer nav { 
  display: table;
  margin-left: auto;
  margin-right: auto;

}


footer nav ul { 
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

footer nav ul li { 
  margin-left: 100px;
 
}

footer nav ul li:first-child{
  margin-left: 0px;
}



/*!!!!!!!ABOUT PAGE!!!! - NOTHING CROSSES THIS LINE UNLESS I SAY SO*/



.aside {
  width: 538px;
  height: 739px;
  background-color: #3C2824;
  color: #aa7f71;
}

.letstrythis{ 
  display: flex;
}

.pointbig{
  position: absolute;
  margin-bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: #db9770;
  border-radius: 50%;
  margin-left: 440px;
  margin-top: 230px;
  
}

.pointtop {
  position: absolute;
  margin-bottom: 100px;
  width: 35px;
  height: 35px;
  background-color: #db9770;
  border-radius: 50%;
  margin-left: 390px;
  margin-top: 35px;
}

.pointright{
  position: absolute;
  margin-bottom: 100px;
  width: 20px;
  height: 20px;
  background-color: #db9770;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 200px;
}

.profilepic {
  background-color: #3C2824;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  margin-left: 150px;
  margin-top: 40px;
}



.profilepic img{
  object-fit: contain;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

h2{
  margin-top: 25px;
  text-align:center;
  font-size: 40px;
}

h3{
  margin-top: 10px;
  font-size: 30px;
  margin-left: 30px;
  padding-right: 50px;
  color: #C1B2A1;
}

.underline {
  width: 100px;
  height: 2.4px;
  margin-left: 30px;
  border-bottom: 2px;
  background-color: #aa7f71;
}

.description {
  margin-right: 30px;
  margin-top: 15px;
}

h4{
font-size: 20px;
margin-left: 30px;
margin-top: 5px;
color: #C1B2A1;
}



.mainpart {
  display: flex;
}

.skills{
background-color: #aa7f71;
height: 300px;
width: 400px;
margin-left: 25px;
margin-top: 20px;
margin-bottom: 2;
flex-wrap: wrap;
}

.stuff {
  background-color: #aa7f71;
  height: 300px;
  width: 400px;
  margin-left: 25px;
  margin-top: 20px;
}


.threepics{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-top: 90px;

}

.first{
  background-color: #C1B2A1;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  
}

.centered{
  font-size:43px;
  color: #3C2824;
  
    position: relative;
    top: -50%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-bottom: 0;
  
}

.first img{
  object-fit:cover;
            width:300px;
            border-radius: 30px;
            filter: blur(4px);
  transition: 0.6s;
}



.first img:hover{
filter: blur(0px);
}


.second{
  background-color: #C1B2A1;
  width: 300px;
  height: 300px;
  margin-left: 20px;
}

.second img{
  object-fit:cover;
  width:300px;
  border-radius: 30px;
  filter: blur(4px);
transition: 0.6s;
}

.second img:hover{
  filter: blur(0px);
  }

.secondimgtext {
    font-size:43px;
  color: #3C2824;
  
    position: relative;
    top: -50%;
    left: 70%;
    transform: translate(-50%, -50%);
    border-bottom: 0;
}


.third{
  background-color: #C1B2A1;
  width: 300px;
  height: 300px;
  margin-left: 20px;
}

.third img{
  object-fit:cover;
            width:300px;
            border-radius: 30px;
            filter: blur(4px);
  transition: 0.6s;
}



.third img:hover{
filter: blur(0px);
}

.thirdtext {
  font-size:43px;
color: #3C2824;

  position: relative;
  top: -50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-bottom: 0;
}

/* PORFTOLIO PAGE - PORTFOLIO PAGE  -  PORTFOLIO PAGE*/


.boxtop {

  width:100%;
  height: 80px;
  background-color: #aa7f71;
}

nav ul {
  display:flex
  
}

nav ul li {
  list-style: none;
  margin: 0 0px;
  position: relative;
  margin-bottom: 30px;
}

nav ul li a {
  justify-content: center;
  text-decoration: none;
  font-size: xx-large;
  transition: 1s;
  color:#3C2824;
  padding:0 10px 0 10px;
 margin-bottom: 30px;
}


nav ul li:last-child a {
  border-right: none;
  border-left: none;
}

nav ul li a:hover {
  color: #db9770

}

/* nav ul li ul { 
justify-content: center;
  background-color: #DC9972;
  padding: 10px;
  border-radius: 15px; 
  position: absolute;
  width: 150px;
}

nav ul li ul li {
  justify-content: center;
  padding: 10px;
}


nav ul li:hover ul {
  display: block;
} */


.portfolio-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}

.portfolio-nav li:nth-child(2) {
  border-right: 2px solid #db9770;
  padding-right: 50px;
}
.portfolio-nav li:nth-child(3) {
  border-right: 2px solid #db9770;
  padding-right: 50px;
}


.shopicon{
  background-color: #DC9972;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 300px;
}

.profileicon{
  background-color: #DC9972;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 300px;
}

.changethecolor{
  background-color: #3C2824;
}

 .gallerybox{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
} 

#gallery {
  line-height:0;
  -webkit-column-count:3; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:3;
  -moz-column-gap:5px;
  column-count:3;
  column-gap:5px;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}


@media (max-width: 1200px) {
  #gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}

@media (max-width: 1000px) {
  #gallery {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}

@media (max-width: 800px) {
  #gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}

@media (max-width: 400px) {
  #gallery {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}



